
body {
    background-color: rgb(214, 123, 214);
    background-image: url("background.png");
font-family:  sans-serif;}
.desc{
    color:rgb(28, 6, 68);
    position: fixed;
    z-index:1;
    padding-left: 150px;
    
}
p {
    color: rgb(35, 10, 56);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 130%;
    }
    h4:hover{

        color:darkslategray
    }
h1 {
    margin:0px; 
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 50px 0; 
    border-radius: 15px;
    font-size:40px; 
    color:azure; 
    width: 350px;
    height: 150px;
    font-weight:100;
    animation: fadeInLeftBig 3s ease 3s 1 normal forwards;
    background-image: url("hat.jfif");
    align-items: center;
    background-position: center;
    background-size: cover;
    

}
h4{
    border: 1px solid black;
    border-radius: 15px;
    background-color: lightblue;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: bolder;
    transform-origin: left top;
    animation: scale 3000ms ease-in-out forwards;
    text-align: justify;
    line-height: 1.5;
    padding-bottom: 15px;
    
}
h3 {
   
    padding-top: 195px;
    float:center;
    animation: flipInY 4s ease-in 1s;
    color: rgb(42, 4, 73);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
li{
    display:grid;
}
#dnn_ctr428_ContentPane{
    transform-origin: left top;
    animation: scale 3000ms ease-in-out forwards;

  border-bottom: 1px solid #466995;
  position: fixed;
  margin-left:10px;
  z-index:1;
  }
  @keyframes scale {
    to {
      transform: scale(1.2);
    }
  }



#fadeInLeftBig, h4 {
    top: -250px;
    display: block;
    -webkit-animation-name: fadeInLeftBig;
    animation-name: fadeInLeftBig;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeInLeftBig {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes fadeInLeftBig {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    } 
    .flipInY, h1 {
        -webkit-backface-visibility: visible !important;
        backface-visibility: visible !important;
        -webkit-animation-name: flipInY;
        animation-name: flipInY;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        }
        @-webkit-keyframes flipInY {
        0% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        opacity: 0;
        }
        40% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        }
        60% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
        }
        80% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
        }
        100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        }
        }
        @keyframes flipInY {
        0% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        opacity: 0;
        }
        40% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        }
        60% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
        }
        80% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
        }
        100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        }
        } 
        table.cinereousTable {
            border: 6px solid #948473;
            background-color: #FFE3C6;
            width: 100%;
            text-align: center;
          }
          table.cinereousTable td, table.cinereousTable th {
            border: 4px solid #948473;
            padding: 4px 4px;
          }
          table.cinereousTable tbody td {
            font-size: 25px;
          }
          table.cinereousTable thead {
            background: #948473;
            background: -moz-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
            background: -webkit-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
            background: linear-gradient(to bottom, #afa396 0%, #9e9081 66%, #948473 100%);
          }
          table.cinereousTable thead th {
            font-size: 17px;
            font-weight: bold;
            color: #F0F0F0;
            text-align: left;
            border-left: 2px solid #948473;
          }
          table.cinereousTable thead th:first-child {
            border-left: none;
          }
          
          table.cinereousTable tfoot {
            font-size: 16px;
            font-weight: bold;
            color: #F0F0F0;
            background: #948473;
            background: -moz-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
            background: -webkit-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
            background: linear-gradient(to bottom, #afa396 0%, #9e9081 66%, #948473 100%);
          }
          table.cinereousTable tfoot td {
            font-size: 16px;
          }
          </style>
</head>
</body>
</html>
